body {
    background-color: hsl(60, 100%, 50%);
    padding-top: 3%;
}

.intro {
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2vh;
    border-radius: 20px;
    box-shadow: 3px 5px black;
}

.intro:hover {
    box-shadow: 7px 12px rgb(122, 116, 116);
}
h1:hover {
    color: rgb(161, 213, 57);
}
h1 {
    padding-top: -10px;
}
.image{
    width: 100%;
    border-radius: 25px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2px;
}

.profile, button, h3, h1, article{
    text-align: left;
}
.name {
    padding-left: 10px;
}
.learn {
    background-color: rebeccapurple;
    align-self: left;
    width: 100px;
    padding: 5px;
    text-align: center;
}

